<section class="site-main-container">
    <div class="p-heading-container">
        <h1 class="p-heading">Explore Articles</h1>
    </div>
    <div class="search-container">
        <form action="/search" method="get">
            <div class="search-input">
                <label for="s_query" hidden=true>Search</label><br>
                <input type="text" name="q" id="s_query" placeholder="Search for articles...">
            </div>
            {{!-- <div class="btn-container">
                <button type="submit" class="btn-default btn-search">Search</button>
            </div> --}}
        </form>
    </div>
    <div class="q-result-container">
        {{!-- {{#each posts}}
        {{/each}} --}}
        <div class="msgBox">
            {{#if errorMessage}}
            <p id="toast-message"><strong>{{errorMessage}}</strong></p>
            {{/if}}
        </div>
        <div class="results">
            {{#if posts}}
            <div class="postCount-container">
                <p class="count-text"><strong>{{posts.rowCount}} articles found</strong></p>
            </div>
            {{#if posts.rows}}
            {{#each posts.rows}}
            <div class="article-excerpt">
                <p>{{this.title}}</p>
                <p>{{this.body}}</p>
            </div>
            {{/each}}
            {{/if}}
            {{/if}}
        </div>
    </div>
</section>