<section class="site-main-container">
    <div class="search-container">
        <form action="/search" method="get">
            <div class="search-input">
                <label for="s_query" hidden=true>Search</label><br>
                <input type="text" name="q" id="s_query" placeholder="Search daata...">
            </div>
            <div class="btn-container">
                <button type="submit" class="btn-default btn-search">Search</button>
            </div>
        </form>
    </div>
</section>