* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 0 10%;
    font-family: "SF Pro";
    border: 3px solid #ff2;
}
@font-face {
    font-family: "SF Pro";
    src: url(SFProText-Regular.ttf);
}
// mobile first layout
header {
    margin: 1rem 0;
    .p-heading-top > a {
        color: #555;
        text-decoration: none;
    }
}
.site-main-container {
    width: 100%;
    padding: 0.5rem;
    height: auto;
    .p-heading-container {
        width: inherit;
        height: inherit;
        .p-heading {
            font: {
                weight: 400;
                color: #555;
            }
        }
    }
    .search-container {
        width: 100%;
        margin: 1rem 0;
        .search-input {
            width: 100%;
            input {
                width: 100%;
                padding: 1rem 0.5rem;
                font-size: 1.2rem;
                outline: none;
                border: 3px solid #ff2;
            }
        }
    }
    .q-result-container {
        width: 100%;
        margin: 0.7rem 0;
        .results {
            .article-box {
                display: flex;
                flex-flow: column wrap;
                .article-excerpt {
                    border: 2.5px solid #ff2;
                    border-radius: 4px;
                    padding: 0.7rem 0.5rem;
                    margin: 0.8rem 0;
                    .a-title {
                        font-weight: bold;
                    }
                    .a-body {
                        margin: {
                            top: 0.5rem;
                            bottom: 0.3rem;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 550px) {
    .site-main-container{
        .search-container {
            .search-input {
                input {
                    font-size: 1rem;
                }
            }
        }
        .q-result-container {
            width: 100%;
            .results {
                .article-box {
                    flex-flow: row wrap;
                    align-items: center;
                    .article-excerpt {
                        margin: {
                            right: 2rem;
                        }
                    }
                }
            }
        }
    }
}